.experience {
  padding: 100px 0;
  text-align: center;
}

.timeline {
  list-style: none;
  position: relative;
}

.timeline:before {
  background-color: #333;
  content: "";
  height: 100%;
  left: 50%;
  position: absolute;
  width: 2px;
}

.timeline li {
  margin-bottom: 50px;
  position: relative;
}

.timeline-content {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: relative;
  text-align: left;
}

.timeline-content img {
  display: block;
  margin: 0 auto 10px;
  max-width: 150px;
}

.timeline-content h3 {
  color: #333;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.timeline-content p {
  color: #666;
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 767.98px) {
  .timeline:before {
    left: 20px;
  }

  .timeline-content {
    margin-left: 40px;
  }
}
