.about {
  background-color: #f9f9f9;
  padding: 50px 0;
  text-align: center;
}

.about h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about p {
  font-size: 18px;
  margin-bottom: 20px;
}

.about img {
  max-width: 100%;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  color: #fff;
  background-color: #0160ae;
  border: none;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.btn:hover {
  transform: translateY(-3px);
  background-color: #003b6b;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
